@(helloForm: Form[String])

@import helper._

@main(title = "The 'helloworld' application") {
	<h1>Creating a game room</h1>

	@form(action = routes.Application.createGame, 'id -> "gameForm") {
		
		
		<input id="game" name="game" type="text"  placeholder="create a new game" autofocus>		
		<input type="submit" value="Play" tabindex="1">
	}

	@form(action = routes.Application.createGame, 'id -> "gameForm") {
		<select id="games" name="game" data-placeholder="or load a game" class="chzn-select" style="width:350px;" tabindex="2">
                <option value=""></option>
		</select>
		<input type="submit" value="Play" tabindex="1">
	}
		
		<script>
			$(function() {
				 
				 window.addEventListener("online", function() {
					alert("You are online");
				 }, false);
				 
				 window.addEventListener("offline", function() {
					alert("You are offline");
				 }, false);
				
				for(var i in window.localStorage) 
					$("#games").append("<option>"+i+"</option>")
				
				$(".chzn-select").chosen();
			});
		</script>

}
