@(game : String, opponent : Option[String], pieces : String = "TCFDRFCT", pps : Map[Char,(String,String)] = Map('T' -> ("\u2656","\u265C"), 'C' -> ("\u2658","\u265E"), 'F' -> ("\u2657","\u265D"), 'D' -> ("\u2655","\u265B"), 'R' -> ("\u2654","\u265A")))(implicit request: RequestHeader)
@****
white chess king	♕	U+2654	&#9812;
white chess queen	♔	U+2655	&#9813;
white chess rook	♖	U+2656	&#9814;
white chess bishop	♗	U+2657	&#9815;
white chess knight	♘	U+2658	&#9816;
white chess pawn	♙	U+2659	&#9817;
black chess king	♚	U+265A	&#9818;
black chess queen	♛	U+265B	&#9819;
black chess rook	♜	U+265C	&#9820;
black chess bishop	♝	U+265D	&#9821;
black chess knight	♞	U+265E	&#9822;
black chess pawn	♟	U+265F	&#9823;
****@
@main(opponent match {
			case Some(_) => "Blitz Game"
			case None => "Normal Game"
			}
		) {
	
		<fieldset id="blackpdead" class="deadz black">
		<legend>
		@{opponent match {
			case Some(_) => "Available Blackz"
			case None => "Black deadz"
			}
		}
		</legend></fieldset>
    
  <fieldset id="whitepdead" class="deadz white">
		<legend>
		@{opponent match {
			case Some(_) => "Available Whitez"
			case None => "White deadz"
			}
		}
		</legend></fieldset>
		
    	<table class="dash">
	@for(i<-1 to 8) {
		<tr>
		@for(j<-1 to 8; count = 1) {
			
			<td id="@i-@j" class="droppable case @if((i+j%2)%2==0){red}else{black}">
				@if(i == 1 || i == 2) {
				  <span id="@if(i==1) {@pieces(j-1).toLower} else {p}" class="draggable blackp">
				}
				@if(i == 7 || i == 8) {
				  <span id="@if(i==8) {@pieces(j-1)} else {P}" class="draggable whitep">
				}
				
				@{i match {
				  case 2 | 7 => "\u265F"
				  case 1 | 8=> pps(pieces(j-1))._2
				  case _ => ""
				}}		
				

				
				</span>
			</td>	
		}
		</tr>
	}
	</table>
	<script>
		var pps = {T:"\u265C", C : "\u265E", F : "\u265D", D : "\u265B", R : "\u265A", P : "\u265F"};
		var order= "TCFDRFCT";
		
		$(function() {
			var route = "@routes.Application.joinGame(game,opponent).webSocketURL()";
			var game = "@game";
			var opponent = @{opponent match {
				case Some(table) => table
				case None => false
			}};
			init(route, game, opponent);
		});
		
	</script>
}
